@{
    ViewBag.Title = "Home Page";
}


<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="banner-content col-lg-9 col-md-12">
                <h1 class="text-uppercase">
                    School system to display and 
                    manage students data
                </h1>
                <a href="/students/index" class="btn btn-primary text-uppercase py-2 px-4 mt-4">Go To List</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var header_height = 56;
        var footer_height = 64;
        var fitscreen = window.innerHeight - header_height - footer_height;

        $(".fullscreen").css("height", fitscreen)
    </script>
}


